node_modules
.git
android/.gradle
android/build
android/app/build
ios/build
ios/Pods
ios/DerivedData
*.log
*.lock
supabase-functions
scripts
__tests__
coverage
.expo
store-assets
dist
supabase-migrations
